<div class="container">
    <div class="row">
        <div class="col">
            <h1>Preguntas</h1>
        </div>
        <div>
            <%= link_to  "Realizar Pregunta", new_question_path, class:"btn btn-primary btn-lg" %>
        </div>
    </div>
    <hr>
    <% @questions.each do |question|%>
        <div class="row question d-flex justify-content-end">   
            <div class="col-2 text center">
                <span>0</span>
                <span>Votos</span>
            </div>
            <div class="col-2 text center">
                <span><%= question.answers.count() %></span>
                <span>Respuestas</span>
            </div>
            <div class="col-8">
                <span><%= link_to  question.title, question %></span>
                
                <span>- Preguntó: <%= question.user.username %> hace <%= time_ago_in_words(question.created_at) %> </span>
            </div>
        </div>
        <hr>
    <% end %>
</div>
