<div class="container">
    <div class="row">
        <div class="col">
            <h1><%= @question.title %></h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-2 text-center" >
            <span class="fa fa-thumbs-o-up"></span>
            <br>
            <span>0</span>
            <br>
            <span class="fa fa-thumbs-o-down"></span>
        </div>
        <div class="col-10">
            <div class="question">
                <span> <%= @question.content %></span>
                
            </div>
            <hr>
            <div class="mb-5" id="question-comments-list">
                    <%= render  @question.comments %>
                    <!-- muestra los comentarios de la pregunta -->
            </div>

            <div class="mb-5 align-items-end" id="question-comment-form">                    
                  <%= render "comments/form", commentable: @question %>
                  <!-- muestra el formulario para incluir un nuevo comentario a la pregunta -->
            </div>        
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="mb-5">
                <h2>Respuestas (<span id="count-answers"><%= @question.answers.count()%></span>)</h2> 
                <hr>
            </div>            
        </div>
    </div>
    
    <div class="row" id="answers-list">
        <div class=" d-block">
            <%= render @question.answers.order(created_at: :ASC) %>            
        </div>
    </div>

    <div class="answer-form">
        <%= render 'answers/form'%>
        <!-- muestra el formulario de respuesta a esa pregunta -->
    </div>
</div>