<div class="d-inline-flex w-100" id="answer-<%= answer.id %>">
    <div class="col-2">
        <div class="text-center align-content-center">
            <span class="fa fa-thumbs-o-up"></span>
            <br>
            <span>0</span>
            <br>
            <span class="fa fa-thumbs-o-down"></span>
        </div>
    </div>
        
    <div class="col-10">                            
        <div class="align-content-center">
            <p><%= answer.content %></p> 
            <%= link_to "Borrar", [answer.question, answer], method: :delete, data:{ confirm: "Estás seguro de eliminar su respuesta?"}, remote: true %>
        </div>

        <%= link_to "Comentarios ", "#", class: 'show-comments', data: {'js-show-question-comments-link' => true} %> <span id="count-comments-question"> ( <%= answer.comments.count() %>) </span>
        <div id="show-commnents-answer">
            <div id="comments-answers-list">
                <%= render answer.comments %>
                <!-- muestra lista de comentarios de esa respuesta -->
            </div>
            <div class="mb-5" id="question-comment-form">
                <%= render  "comments/form", commentable: answer %>
                <!-- muestra formulario de comentarios para esa respuesta -->
            </div>
            <hr>
        </div>
    </div>
</div>