<div class="d-inline-flex w-100" id="answer-<%= answer.id %>">
    <div class="col-2">
        <div class="text-center align-content-center">
            <span class="fa fa-thumbs-o-up"></span>
            <br>
            <span>0</span>
            <br>
            <span class="fa fa-thumbs-o-down"></span>
        </div>
    </div>
        
    <div class="col-10">                            
        <div class="align-content-center">
            <p><%= answer.content %></p> 
            <%= link_to "Borrar", [answer.question, answer], method: :delete, data:{ confirm: "Estás seguro de eliminar su respuesta?"}, remote: true %>
            <hr>
        </div>
        <div id="list-answers-question">
            <%= render answer.comments %>
        </div>
        <div id="question-comment-form">
            <%= render  "comments/form", commentable: answer %>
        </div>
    </div>
</div>