<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src=" <%= image_path('jb-logo-4.png') %>" width="40" height="40" class="d-inline-block align-top" alt="">
        <span> Flow Overstack </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
            <li><%= image_tag gravatar_url(current_user.email , 40), class: "rounded-circle" %></li>
            <li class="nav-item">
                <h6 class="nav-link">
                    <%= current_user.username %>
                </h6>
                <li class="mr-3">
                    <%= link_to "Salir", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>            
          </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Ingresar", user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Registrarse", new_user_registration_path, class: "nav-link" %>
            </li>
        <% end %>        
    </ul>
    <%= form_tag questions_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :search, nil, class: "form-control mr-sm-2", placeholder: "Buscar" %>
        <%= submit_tag "Buscar", class: "btn btn-outline-success my-2 my-sm-0", type: "submit" %>
    <% end %>
    
     
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

  </div>
</nav>